.cabecera{
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.titulo{
    font-family: 'Roboto', sans-serif;
    font-size: 4.5rem;
}

.subtitulo{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: #7d8e74;
}

.subsubtitulo{
    font-family: Roboto, Helvetica, 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: -0.5rem;
}

a:link, a:visited, a:hover, a:active {
    color: #666b6e;
    text-decoration: underline;
}

p {
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    color: #a15b1c;
    padding: 0rem 1rem 0rem 1rem;
}

h1 {
    font-family: 'Roboto', sans-serif;;
    font-weight: 400;
    color: #7d8e74;
    font-size: 3rem;
    padding: 0.5rem 1rem 1.5rem 1rem;
}

.botonFlotante{
    position: fixed;
    bottom: 5%;
    right: 2%;
    display: none;
}

.responsive {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-top: -0.5;
}

.responsive2 {
    width: 100%;
    max-width: 400px;
    height: auto;
}
.responsive3 {
    width: 100%;
    height: auto;
}

.imagen {
    max-height: 560px;
}

.colorfondo {
    background-color: #f2e6c6a8;
}

@media screen and (max-width: 450px){
    .titulo{
        font-size: 3.5rem;
	word-break: break-word;
    }
    .subtitulo{
    word-break: break-word;
    }
    .imagen{
        max-width: 280px;
    }
    .responsive{
        max-width: 250px;
    }
    .responsive2{
        max-width: 300px;
    }
    .cabecera{
        padding-top: 1.5rem;
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 767px){
    p {
        text-align: justify;
	    padding: 0rem 0.25rem 0rem 0.25rem;
    }
    h1 {
        text-align: center;
	padding: 0rem 0.25rem 0.5rem 0.25rem;
    }
}

@media (max-width: 1050px){
   .oculta {
	display: none !important;
   }
}
