<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="es.uva.gsic.adolfinstro">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:backupAgent=".CopiaSeguridad"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:parentActivityName=".Login"
        android:restoreAnyVersion="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".PuntoInteres"></activity>
        <activity
            android:name=".CompartirRespuesta"
            android:label="@string/compartir_respuesta" />
        <activity
            android:name=".MapaNavegable"
            android:label="@string/navega" />
        <activity
            android:name=".Completadas"
            android:label="@string/tareaCompletada" />
        <activity android:name=".ListaTareas" />
        <activity
            android:name=".Preview"
            android:label="@string/infoTarea" />
        <activity
            android:name=".Puntuacion"
            android:label="@string/score" />
        <activity
            android:name=".ImagenCompleta"
            android:label="@string/imagenAmpliable" />
        <activity
            android:name=".Acerca"
            android:label="@string/acercade" />
        <activity
            android:name=".Tarea"
            android:label="@string/tareaRealizar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.uva.gsic.adolfinstro.Login" />
        </activity>
        <activity
            android:name=".Ajustes"
            android:label="@string/settings"
            android:parentActivityName=".Maps"
            android:theme="@style/PreferenceScreen" />
        <activity
            android:name=".Maps"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmaProceso" />
        <receiver android:name=".CompruebaEnvios" />
        <receiver
            android:name=".RecepcionNotificaciones"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="AHORA_NO" />
                <action android:name="NUNCA_MAS" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="es.uva.gsic.adolfinstro.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAICEQFuWSBm6AqH68Bu0nJdHAscnHshqYYIQNkZA" />
    </application>

</manifest>